* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.618em;
  margin: 0;
  padding: 0;
}

#about {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

#about article {
  background: #ccc;
  border-radius: 8px;
  padding: 1em;
}

#copyright {
  font-size: smaller;
}

#gitHub {
  background-color: white;
}

#gitHub:hover {
  background-color: #add8e6;
}

#headshot {
  border: 1px solid #333;
  border-radius: 15px;
  max-height: 250px;
  max-width: 300px;
}

#linkedIn {
  background-color: white;
}
#linkedIn:hover {
  background-color: #add8e6;
}

#online p {
  padding-bottom: 1em;
}

#projects {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

#projects article {
  background: #ccc;
  border-radius: 8px;
  padding: 1em;
}

#projects article h3 {
  text-align: center;
}
#projects article h4 {
  padding-top: 0.5em;
}

#projects article img {
  border: 1px solid #333;
  border-radius: 15px;
  max-height: 4in;
  width: 100%;
}
#projects article img:hover {
  border-color: #add8e6;
  border-width: 0.25em;
}

figcaption {
  font-style: italic;
  padding: 0.5em;
}

footer {
  background: #666;
  color: #fff;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 1em 0;
  text-align: center;
}

h1,
h2,
h3 {
  color: #666;
  padding-bottom: 0.5em;
}

h4 {
  color: black;
  padding-bottom: 0.5em;
}

header {
  padding: 2em 0;
}

header h1 {
  font-size: 3em;
}

header span {
  color: #888;
  font-size: 1em;
  font-style: italic;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 800px;
}

html {
  font-size: 16px;
  margin-top: 3em;
}

nav {
  background: #333;
  display: flex;
  flex-flow: row;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  border-radius: 8px;
  color: #fff;
  padding: 0.5em 2em;
  text-decoration: none;
}

nav a:hover {
  background: #add8e6;
}

section {
  margin: 1em 0;
  min-height: 20em;
}

section > p {
  margin: 1em 0;
  padding-bottom: 0.5em;
}

section ul {
  padding-bottom: 0.3em;
  padding-left: 1.5em;
}